/* styles.css */

body {
    font-family: '72-Regular', Arial, sans-serif;
    background-color: #f6f6f6;
  
  }
  
  header {
    background-color: #107EAB;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  main {
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    width: 150px;
    height: auto;
  }
  
  #content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    color: #32363a;
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    font-size: 16px;
    color: #32363a;
    margin-bottom: 8px;
  }
  
  a {
    color: #0a6ed1;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #jobPositionsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .sapMStandardListItem {
    width: 80%;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .centered-header {
    text-align: center;
    margin-top: 2rem;
  }
  
  #applicationForm {
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #0075b8;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #returnButton {
    margin-top: 20px;
  }
  
  /* Adicione essas regras ao seu arquivo styles.css */
  .title-container {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .main-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .sub-title {
    font-size: 18px;
    color: #666;
    margin-top: 5px;
  }
  
  /* No seu arquivo styles.css */
  .button-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
  }
  
  .button-primary {
    background-color: #0075b8;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 50%;
  }
  
  .button-secondary {
    background-color: #0075b8;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 50%;
  }
  
  .login-box {
    width: 300px;
    margin: 0 auto;
  }
  .login-button {
    margin-top: 1rem;
  }
  .sub-navigation {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    background-color: #f2f2f2; /* Cor de fundo da sub-navigation */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 15px; /* Espaçamento interno */
    margin-top: 0px; /* Espaçamento superior */
    text-align: center;
  }

  .sub-nav-link {
    margin: 0 10px; /* Espaçamento horizontal entre os links */
    color: #333; /* Cor dos links */
    text-decoration: none; /* Remova a decoração de sublinhado */
  }

 
  #jobDetails {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: absolute;
    top: 80%;
    left: 50%;

  
    transform: translate(-50%, -50%);
  }
  
  .search-box {
    text-align: center; /* Centraliza os elementos horizontalmente */
  }
  
  #searchButton {
    /* Estilos para o botão */
    /* ... outros estilos ... */
    margin-top: 10px; /* Adicione margem superior para separar o botão da entrada */
  }
  

  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura da div para ocupar toda a altura da tela */
  }
  

  /* Estilo para a seção de resultados */
  #searchResults {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  /* Estilo para os resultados individuais (cada funcionário) */
  .employee-result {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }

  /* Estilo para o nome do funcionário */
  .employee-name {
    font-weight: bold;
    font-size: 18px;
  }

  /* Estilo para as informações do funcionário */
  .employee-info {
    margin-top: 5px;
    font-size: 16px;
  }

  /* Estilo para o link do currículo */
  .resume-link {
    margin-top: 5px;
    font-size: 16px;
    text-decoration: underline;
    color: blue;
  }

